.room-container {
  @apply w-full h-[calc(100vh)] py-4 px-3;

  .room-wrapper {
    @apply w-full h-full
    ;

    .room-grid {
      @apply w-full h-full flex relative
      ;

      .room-canvas-area {
        @apply w-[100%] relative
        ;
        transition: width 200ms ease-in-out;

        &.active {
          @apply w-[80%] h-full;
        }

        .canvas-area {
          @apply absolute w-full h-full;

        }

        .room-canvas-top {
          @apply absolute top-0 w-full z-20 flex justify-center items-center gap-5;

          .icon-home {
            @apply p-3 bg-[#2D8692] rounded-full text-neutral-50 transform translate-x-9/10 z-20;
          }

          .room-title {
            @apply relative flex justify-center items-center gap-2 pl-8 pr-4 py-3
            bg-neutral-50 border-neutral-300 border-1 rounded-2xl
            dark:bg-neutral-950 dark:text-neutral-50 dark:border-neutral-700
            truncate text-xs

            ;

            .br {
              @apply outline-1 outline-neutral-400 opacity-50 dark:outline-neutral-600 h-[1rem];
            }
          }

          .btn-resize {
            @apply p-2 rounded-xl cursor-pointer
            bg-neutral-50 text-neutral-950 hover:bg-neutral-300 transition duration-200
            dark:bg-neutral-950 dark:text-neutral-50
            ;

            &.active {
              @apply bg-neutral-300 dark:bg-neutral-700;
            }
          }

        }
      }
    }

  }

  .missing-part-container {
    @apply absolute h-full py-4 px-3 overflow-hidden;

    &.right {
      @apply right-0;
    }

    &.left {
      @apply left-0;
    }

    &.top {
      @apply top-0;
    }

    .bg-missing-part {
      @apply relative w-[30rem] translate-x-[50rem] h-full p-3 flex justify-end
      bg-neutral-200
      dark:bg-neutral-800
      ;
      transition: all 200ms ease-in-out;

      &.active {
        @apply translate-x-[0rem] h-full;

      }

    }
  }

  // Components
  /// Navigation
  .navigation-bar {
    @apply absolute bottom-0 z-20 flex items-center overflow-hidden;

    &.left {
      @apply left-0;
    }

    &.right {
      @apply right-0;
    }

    &.center {
      @apply justify-between w-full;
    }

    .group-controller {
      @apply flex justify-center items-center gap-6 p-2 px-6 w-fit
      rounded-xl
      text-center text-xs
      text-neutral-50 bg-neutral-950
      ;
      transition: all 500ms ease-in-out;

      &.not-selected {
        @apply opacity-0 z-[-10];
      }

      .button-controller {
        @apply grid justify-center items-center h-full cursor-pointer
        ;
        transition: all 500ms ease-in-out;

        &.page-input {
          @apply hover:bg-transparent cursor-default;

          .input-wrapper {
            @apply h-[24px] flex justify-center items-center;

            input {
              @apply bg-transparent outline-none [appearance:textfield]
              [&::-webkit-outer-spin-button]:appearance-none
              [&::-webkit-inner-spin-button]:appearance-none
              border-none w-6 text-center;
            }
          }
        }

        &.active {
          @apply text-[#2D8692];
        }

        .icon-wrapper {
          @apply flex justify-center cursor-pointer;
        }
      }
    }
  }

  /// Thumbnail
  .thumbnail {
    @apply relative w-[18rem] h-[38rem] z-30
    border-1 rounded-xl
    bg-neutral-50 text-neutral-950 border-neutral-300
    dark:bg-neutral-950 dark:text-neutral-50 dark:border-neutral-700
    transform translate-x-[-30rem]
    ;

    transition: all 200ms ease-in-out;

    &.active {
      @apply translate-x-[0];

    }

    .thumbnail-wrapper {
      @apply w-full h-full;

      .thumbnail-header {
        @apply flex justify-between items-center p-4
        border-b-1 border-neutral-200

        ;

        .thumbnail-title {
          @apply text-xl;
        }

        .thumbnail-close {
          @apply p-1 cursor-pointer
          hover:bg-neutral-300
          dark:hover:bg-neutral-700
          rounded-md;
        }
      }

      .thumbnail-main {
        @apply grid grid-cols-1 gap-6 h-[88%] overflow-auto p-3 m-1;

        .thumbnail-item {
          @apply rounded-xl overflow-hidden h-[10rem] relative;

          &__canvas {
            @apply w-full h-full  bg-neutral-200
          }

          &__header {
            @apply text-xl text-neutral-950 absolute w-full top-0 text-xs p-3 flex justify-between items-center;

            .title {

            }

            .btn-more {
              @apply text-[#2D8692] cursor-pointer;
            }

          }

        }

      }
    }
  }

  /// Invite
  .invite {
    @apply absolute w-[18rem] h-[38rem] z-30
    border-1 rounded-xl
    bg-neutral-50 text-neutral-950 border-neutral-300
    dark:bg-neutral-950 dark:text-neutral-50 dark:border-neutral-700
    transform translate-x-[50rem]
    ;

    transition: all 200ms ease-in-out;

    &.active {
      @apply translate-x-[12rem];

    }

    .invite-wrapper {
      @apply w-full h-full px-4 pt-4

      ;

      .invite-header {
        @apply flex justify-between items-center;

        .invite-title {
          @apply text-2xl;
        }

        .invite-close {
          @apply p-1 cursor-pointer
          hover:bg-neutral-300
          dark:hover:bg-neutral-700
          rounded-md;
        }
      }
    }
  }

  /// Participant
  .participant {
    @apply absolute w-[18rem] h-[38rem] z-30
    border-1 rounded-xl
    bg-neutral-50 text-neutral-950 border-neutral-300
    dark:bg-neutral-950 dark:text-neutral-50 dark:border-neutral-700
    transform translate-x-[50rem]
    ;

    transition: all 200ms ease-in-out;

    &.active {
      @apply translate-x-[12rem];

    }

    .participant-wrapper {
      @apply w-full h-full;

      .participant-header {
        @apply flex justify-between items-center p-4
        border-b-1 border-neutral-200

        ;

        .participant-title {
          @apply text-xl;
        }

        .participant-close {
          @apply p-1 cursor-pointer
          hover:bg-neutral-300
          dark:hover:bg-neutral-700
          rounded-md;
        }
      }

      .participant-main {
        @apply grid grid-cols-1 gap-6 h-[88%] overflow-auto p-3 m-1;
      }
    }
  }

  /// Chat
  .chat {
    @apply absolute w-[25rem] h-[38rem] z-30
    border-1 rounded-xl
    bg-neutral-50 text-neutral-950 border-neutral-300
    dark:bg-neutral-950 dark:text-neutral-50 dark:border-neutral-700
    transform translate-x-[50rem]
    ;

    transition: all 200ms ease-in-out;

    &.active {
      @apply translate-x-[5rem];

    }

    .chat-wrapper {
      @apply w-full h-full px-4 pt-4

      ;

      .chat-header {
        @apply flex justify-between items-center;

        .chat-title {
          @apply text-2xl;
        }

        .chat-close {
          @apply p-1 cursor-pointer
          hover:bg-neutral-300
          dark:hover:bg-neutral-700
          rounded-md;
        }
      }
    }
  }

}
